.banner {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);

    &_background {
        background-image: url('../images/house3.jpg');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }


}

.nav-text {
    position: absolute;
    bottom: 10px;
    right: 25px;
    color: white;
    font-size: 20px;

}