.jumbotron {
    position: relative;
    color: white;

    .jumbotron-bg {
        position: absolute;
        background: url(../images/banner_background.jpg);
        background-size: cover;
        background-position: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}